{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://tak.clpdevtak.com:8443","description":"Generated server url"}],"paths":{"/logout":{"get":{"tags":["o-auth-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"logout","responses":{"200":{"description":"OK"}}},"post":{"tags":["o-auth-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"logout_1","responses":{"200":{"description":"OK"}}}},"/Marti/api/cot":{"get":{"tags":["cot-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"getCotEvents","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}},"post":{"tags":["cot-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"getCotEvents_1","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/Marti/api/xmpp/transfer/{uid}/{filename}":{"get":{"tags":["xmpp-api"],"summary":"[🔒 ROLE_XMPP] ","description":"<br/>**🔒 Required Role:** `ROLE_XMPP`","operationId":"getFile","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}},{"name":"filename","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}},"put":{"tags":["xmpp-api"],"summary":"[🔒 ROLE_XMPP] ","description":"<br/>**🔒 Required Role:** `ROLE_XMPP`","operationId":"putFile","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}},{"name":"filename","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"byte"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/Marti/api/video/{uid}":{"get":{"tags":["video-connection-manager-v-2"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"getVideoConnection","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VideoConnection"}}}}}},"put":{"tags":["video-connection-manager-v-2"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"updateVideoConnection","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VideoConnection"}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["video-connection-manager-v-2"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"deleteVideoConnection","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/Marti/api/user-management/api/update-groups":{"put":{"tags":["file-user-account-management-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"updateGroupsForUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SimpleUserGroupModel"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/Marti/api/user-management/api/update-group-users":{"put":{"tags":["file-user-account-management-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"updateUsersForGroup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SimpleGroupWithUsersModel"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/Marti/api/user-management/api/change-user-password":{"put":{"tags":["file-user-account-management-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"changeUserPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserPasswordModel"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/Marti/api/sync/metadata/{hash}/{metadata}":{"put":{"tags":["metadata-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"setMetadata","parameters":[{"name":"hash","in":"path","required":true,"schema":{"type":"string"}},{"name":"metadata","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/Marti/api/sync/metadata/{hash}/keywords":{"put":{"tags":["metadata-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"setMetadataKeywords","parameters":[{"name":"hash","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/Marti/api/sync/metadata/{hash}/expiration":{"put":{"tags":["metadata-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"setExpiration","parameters":[{"name":"hash","in":"path","required":true,"schema":{"type":"string"}},{"name":"expiration","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/Marti/api/subscriptions/{clientUid}/filter":{"put":{"tags":["subscription-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"setFilter","parameters":[{"name":"clientUid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/xml":{"schema":{"$ref":"#/components/schemas/Filter"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}},"delete":{"tags":["subscription-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"deleteFilter","parameters":[{"name":"clientUid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/Marti/api/security/config":{"get":{"tags":["security-authentication-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"getSecConfig","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSecurityConfigInfo"}}}}}},"put":{"tags":["security-authentication-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"modifySecConfig","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecurityConfigInfo"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/Marti/api/retention/service/schedule":{"get":{"tags":["retention-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"getRetentionServiceSchedule","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}},"put":{"tags":["retention-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"setRetentionServiceSchedule","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/Marti/api/retention/resource/{name}/expiry/{time}":{"put":{"tags":["retention-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"scheduleResourceExpiration","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"time","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/Marti/api/retention/policy":{"get":{"tags":["retention-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"getRetentionPolicy","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringInteger"}}}}}},"put":{"tags":["retention-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"updateRetentionPolicy","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringInteger"}}}}}}},"/Marti/api/retention/missionarchiveconfig":{"get":{"tags":["retention-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"getMissionArchiveConfig","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMissionArchiveConfig"}}}}}},"put":{"tags":["retention-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"updateMissionArchiveConfig","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissionArchiveConfig"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMissionArchiveConfig"}}}}}}},"/Marti/api/retention/mission/{name}/expiry/{time}":{"put":{"tags":["retention-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"scheduleMissionExpiration","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"time","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/Marti/api/qos/read/set":{"put":{"tags":["qo-s-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"setRead","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RateLimitRule"}}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/Marti/api/qos/read/enable":{"put":{"tags":["qo-s-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"enableRead","requestBody":{"content":{"application/json":{"schema":{"type":"boolean"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/Marti/api/qos/dos/enable":{"put":{"tags":["qo-s-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"enableDOS","requestBody":{"content":{"application/json":{"schema":{"type":"boolean"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/Marti/api/qos/delivery/set":{"put":{"tags":["qo-s-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"setDelivery","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RateLimitRule"}}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/Marti/api/qos/delivery/enable":{"put":{"tags":["qo-s-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"enableDelivery","requestBody":{"content":{"application/json":{"schema":{"type":"boolean"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/Marti/api/properties/{uid}":{"put":{"tags":["properties-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"storeProperty","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"value":{"type":"string"},"key":{"type":"string"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseEntryStringString"}}}}}}},"/Marti/api/plugins/{name}/submit":{"get":{"tags":["plugin-data-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"requestFromPlugin","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"arg1","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}},"put":{"tags":["plugin-data-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"submitToPluginUTF8","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"arg1","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"byte"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}},"post":{"tags":["plugin-data-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"updateInPlugin","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"arg1","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"byte"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}},"delete":{"tags":["plugin-data-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"deleteFromPlugin","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"arg1","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/Marti/api/plugins/{name}/submit/result":{"put":{"tags":["plugin-data-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"submitToPluginUTF8WithResult","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"arg1","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"byte"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/Marti/api/outgoingconnections":{"get":{"tags":["federation-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"getOutgoingConnections","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSortedSetOutgoingConnectionSummary"}}}}}},"put":{"tags":["federation-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"updateOutgoingConnection","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/FederationOutgoing"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseFederationOutgoing"}}}}}},"post":{"tags":["federation-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"createOutgoingConnection","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FederationOutgoing"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseFederationOutgoing"}}}}}}},"/Marti/api/missions/{name}/expiration":{"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"setExpiration_1","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"expiration","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/Marti/api/missions/{name}":{"get":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"getMission","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"password","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"changes","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"logs","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"secago","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"start","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"end","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSetMission"}}}}}},"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"createMission","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"group","in":"query","required":false,"schema":{"type":"array","default":["__ANON__"],"items":{"type":"string"}}},{"name":"description","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"chatRoom","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"baseLayer","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"bbox","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"boundingPolygon","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"path","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"classification","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"tool","in":"query","required":false,"schema":{"type":"string","default":"public"}},{"name":"password","in":"query","required":false,"schema":{"type":"string"}},{"name":"defaultRole","in":"query","required":false,"schema":{"type":"string","enum":["MISSION_OWNER","MISSION_SUBSCRIBER","MISSION_READONLY_SUBSCRIBER"]}},{"name":"expiration","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"inviteOnly","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"allowGroupChange","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"byte"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSetMission"}}}}}},"post":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"createMissionAllowDupe","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"group","in":"query","required":false,"schema":{"type":"array","default":["__ANON__"],"items":{"type":"string"}}},{"name":"description","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"chatRoom","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"baseLayer","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"bbox","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"boundingPolygon","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"path","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"classification","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"tool","in":"query","required":false,"schema":{"type":"string","default":"public"}},{"name":"password","in":"query","required":false,"schema":{"type":"string"}},{"name":"defaultRole","in":"query","required":false,"schema":{"type":"string","enum":["MISSION_OWNER","MISSION_SUBSCRIBER","MISSION_READONLY_SUBSCRIBER"]}},{"name":"expiration","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"inviteOnly","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"allowDupe","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"byte"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSetMission"}}}}}},"delete":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"deleteMission","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"deepDelete","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSetMission"}}}}}}},"/Marti/api/missions/{name}/uid/{uid}/keywords":{"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"addUidKeyword","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"uid","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":false,"schema":{"type":"string","default":""}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"clearUidKeywords","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"uid","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK"}}}},"/Marti/api/missions/{name}/password":{"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"setPassword","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"password","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"creatorUid","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK"}}},"delete":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"removePassword","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK"}}}},"/Marti/api/missions/{name}/keywords":{"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"setKeywords","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":false,"schema":{"type":"string","default":""}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSetMission"}}}}}},"delete":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"clearKeywords","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSetMission"}}}}}}},"/Marti/api/missions/{name}/invite/{type}/{invitee}":{"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"inviteToMission","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"type","in":"path","required":true,"schema":{"type":"string","enum":["clientUid","callsign","userName","group","team"]}},{"name":"invitee","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":true,"schema":{"type":"string"}},{"name":"role","in":"query","required":false,"schema":{"type":"string","enum":["MISSION_OWNER","MISSION_SUBSCRIBER","MISSION_READONLY_SUBSCRIBER"]}}],"responses":{"200":{"description":"OK"}}},"delete":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"uninviteFromMission","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"type","in":"path","required":true,"schema":{"type":"string","enum":["clientUid","callsign","userName","group","team"]}},{"name":"invitee","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/Marti/api/missions/{name}/contents":{"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"addMissionContent","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":false,"schema":{"type":"string","default":""}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissionContent"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSetMission"}}}}}},"delete":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"removeMissionContent","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"hash","in":"query","required":false,"schema":{"type":"string"}},{"name":"uid","in":"query","required":false,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSetMission"}}}}}}},"/Marti/api/missions/{name}/contents/missionpackage":{"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"addMissionPackage","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"byte"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListMissionChange"}}}}}}},"/Marti/api/missions/{name}/content/{hash}/keywords":{"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"addContentKeyword","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"hash","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":false,"schema":{"type":"string","default":""}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"clearContentKeywords","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"hash","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK"}}}},"/Marti/api/missions/{missionName}/subscription":{"get":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"getSubscriptionForUser","parameters":[{"name":"missionName","in":"path","required":true,"schema":{"type":"string"}},{"name":"uid","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMissionSubscription"}}}}}},"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"createMissionSubscription","parameters":[{"name":"uid","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"topic","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"password","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"secago","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"start","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"end","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"missionName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMissionSubscription"}}}}}},"post":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"setSubscriptionRole","parameters":[{"name":"missionName","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MissionSubscription"}}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"deleteMissionSubscription","parameters":[{"name":"uid","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"topic","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"disconnectOnly","in":"query","required":false,"schema":{"type":"boolean","default":true}},{"name":"missionName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/Marti/api/missions/{missionName}/role":{"get":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"getMissionRoleFromToken","parameters":[{"name":"missionName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMissionRole"}}}}}},"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"setMissionRole","parameters":[{"name":"missionName","in":"path","required":true,"schema":{"type":"string"}},{"name":"clientUid","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"username","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"role","in":"query","required":false,"schema":{"type":"string","enum":["MISSION_OWNER","MISSION_SUBSCRIBER","MISSION_READONLY_SUBSCRIBER"]}}],"responses":{"200":{"description":"OK"}}}},"/Marti/api/missions/{missionName}/maplayers":{"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"updateMapLayer","parameters":[{"name":"missionName","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MapLayer"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapLayer"}}}}}},"post":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"createMapLayer","parameters":[{"name":"missionName","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MapLayer"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapLayer"}}}}}}},"/Marti/api/missions/{missionName}/layers":{"get":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"getMissionLayers","parameters":[{"name":"missionName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListMissionLayer"}}}}}},"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"createMissionLayer","parameters":[{"name":"missionName","in":"path","required":true,"schema":{"type":"string"}},{"name":"name","in":"query","required":true,"schema":{"type":"string"}},{"name":"type","in":"query","required":true,"schema":{"type":"string","enum":["GROUP","UID","CONTENTS","MAPLAYER","ITEM"]}},{"name":"uid","in":"query","required":false,"schema":{"type":"string"}},{"name":"parentUid","in":"query","required":false,"schema":{"type":"string"}},{"name":"afterUid","in":"query","required":false,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMissionLayer"}}}}}},"delete":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"deleteMissionLayer","parameters":[{"name":"missionName","in":"path","required":true,"schema":{"type":"string"}},{"name":"uid","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"creatorUid","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/Marti/api/missions/{missionName}/layers/{layerUid}/name":{"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"setLayerName","parameters":[{"name":"missionName","in":"path","required":true,"schema":{"type":"string"}},{"name":"layerUid","in":"path","required":true,"schema":{"type":"string"}},{"name":"name","in":"query","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/Marti/api/missions/{missionName}/layers/parent":{"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"setLayerParent","parameters":[{"name":"missionName","in":"path","required":true,"schema":{"type":"string"}},{"name":"layerUid","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"parentUid","in":"query","required":false,"schema":{"type":"string"}},{"name":"afterUid","in":"query","required":false,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/Marti/api/missions/{missionName}/copy":{"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"copyMission","parameters":[{"name":"missionName","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":true,"schema":{"type":"string"}},{"name":"copyName","in":"query","required":true,"schema":{"type":"string"}},{"name":"copyPath","in":"query","required":false,"schema":{"type":"string"}},{"name":"defaultRole","in":"query","required":false,"schema":{"type":"string","enum":["MISSION_OWNER","MISSION_SUBSCRIBER","MISSION_READONLY_SUBSCRIBER"]}},{"name":"password","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSetMission"}}}}}}},"/Marti/api/missions/{childName}/parent/{parentName}":{"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"setParent","parameters":[{"name":"childName","in":"path","required":true,"schema":{"type":"string"}},{"name":"parentName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/Marti/api/missions/logs/entries":{"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"updateLogEntry","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogEntry"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLogEntry"}}}}}},"post":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"postLogEntry","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogEntry"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLogEntry"}}}}}}},"/Marti/api/missions/guid/{missionName}/layers/{layerUid}/position":{"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"setLayerPosition","parameters":[{"name":"missionName","in":"path","required":true,"schema":{"type":"string"}},{"name":"layerUid","in":"path","required":true,"schema":{"type":"string"}},{"name":"afterUid","in":"query","required":false,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/Marti/api/missions/guid/{missionGuid}/subscription":{"get":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"getSubscriptionForUserByGuid","parameters":[{"name":"missionGuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"uid","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMissionSubscription"}}}}}},"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"createMissionSubscriptionByGuid","parameters":[{"name":"uid","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"topic","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"password","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"secago","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"start","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"end","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"missionGuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMissionSubscription"}}}}}},"post":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"setSubscriptionRoleByGuid","parameters":[{"name":"missionGuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MissionSubscription"}}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"deleteMissionSubscriptionByGuid","parameters":[{"name":"uid","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"topic","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"disconnectOnly","in":"query","required":false,"schema":{"type":"boolean","default":true}},{"name":"missionGuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/Marti/api/missions/guid/{missionGuid}/role":{"get":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"getMissionRoleFromTokenByGuid","parameters":[{"name":"missionGuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMissionRole"}}}}}},"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"setMissionRoleByGuid","parameters":[{"name":"missionGuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"clientUid","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"username","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"role","in":"query","required":false,"schema":{"type":"string","enum":["MISSION_OWNER","MISSION_SUBSCRIBER","MISSION_READONLY_SUBSCRIBER"]}}],"responses":{"200":{"description":"OK"}}}},"/Marti/api/missions/guid/{missionGuid}/maplayers":{"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"updateMapLayerByGuid","parameters":[{"name":"missionGuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MapLayer"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapLayer"}}}}}},"post":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"createMapLayerByGuid","parameters":[{"name":"missionGuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MapLayer"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapLayer"}}}}}}},"/Marti/api/missions/guid/{missionGuid}/layers":{"get":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"getMissionLayersByGuid","parameters":[{"name":"missionGuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListMissionLayer"}}}}}},"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"createMissionLayerByGuid","parameters":[{"name":"missionGuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"name","in":"query","required":true,"schema":{"type":"string"}},{"name":"type","in":"query","required":true,"schema":{"type":"string","enum":["GROUP","UID","CONTENTS","MAPLAYER","ITEM"]}},{"name":"uid","in":"query","required":false,"schema":{"type":"string"}},{"name":"parentUid","in":"query","required":false,"schema":{"type":"string"}},{"name":"afterUid","in":"query","required":false,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMissionLayer"}}}}}},"delete":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"deleteMissionLayerByGuid","parameters":[{"name":"missionGuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"uid","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"creatorUid","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/Marti/api/missions/guid/{missionGuid}/layers/{layerUid}/position":{"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"setLayerPositionByGuid","parameters":[{"name":"missionGuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"layerUid","in":"path","required":true,"schema":{"type":"string"}},{"name":"afterUid","in":"query","required":false,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/Marti/api/missions/guid/{missionGuid}/layers/{layerUid}/name":{"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"setLayerNameByGuid","parameters":[{"name":"missionGuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"layerUid","in":"path","required":true,"schema":{"type":"string"}},{"name":"name","in":"query","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/Marti/api/missions/guid/{missionGuid}/layers/parent":{"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"setLayerParentByGuid","parameters":[{"name":"missionGuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"layerUid","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"parentUid","in":"query","required":false,"schema":{"type":"string"}},{"name":"afterUid","in":"query","required":false,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/Marti/api/missions/guid/{missionGuid}/invite/{type}/{invitee}":{"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"inviteToMissionByGuid","parameters":[{"name":"missionGuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"type","in":"path","required":true,"schema":{"type":"string","enum":["clientUid","callsign","userName","group","team"]}},{"name":"invitee","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":true,"schema":{"type":"string"}},{"name":"role","in":"query","required":false,"schema":{"type":"string","enum":["MISSION_OWNER","MISSION_SUBSCRIBER","MISSION_READONLY_SUBSCRIBER"]}}],"responses":{"200":{"description":"OK"}}},"delete":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"uninviteFromMissionByGuid","parameters":[{"name":"missionGuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"type","in":"path","required":true,"schema":{"type":"string","enum":["clientUid","callsign","userName","group","team"]}},{"name":"invitee","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/Marti/api/missions/guid/{guid}/properties":{"get":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"getMissionProperties","parameters":[{"name":"guid","in":"path","required":true,"schema":{"type":"string"}},{"name":"prefix","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListMissionProperty"}}}}}},"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"setMissionProperty","parameters":[{"name":"guid","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissionProperty"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMissionProperty"}}}}}},"delete":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"deleteAllMissionProperties","parameters":[{"name":"guid","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/Marti/api/missions/guid/{guid}/expiration":{"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"setExpirationByGuid","parameters":[{"name":"guid","in":"path","required":true,"schema":{"type":"string"}},{"name":"expiration","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/Marti/api/missions/guid/{guid}/password":{"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"setPasswordByGuid","parameters":[{"name":"guid","in":"path","required":true,"schema":{"type":"string"}},{"name":"password","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"creatorUid","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK"}}},"delete":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"removePasswordByGuid","parameters":[{"name":"guid","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK"}}}},"/Marti/api/missions/guid/{guid}/contents":{"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"addMissionContentByGuid","parameters":[{"name":"guid","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":false,"schema":{"type":"string","default":""}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissionContent"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSetMission"}}}}}},"delete":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"removeMissionContentByGuid","parameters":[{"name":"guid","in":"path","required":true,"schema":{"type":"string"}},{"name":"hash","in":"query","required":false,"schema":{"type":"string"}},{"name":"uid","in":"query","required":false,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSetMission"}}}}}}},"/Marti/api/missions/guid/{childGuid}/parent/guid/{parentGuid}":{"put":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"setParentByGuid","parameters":[{"name":"childGuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"parentGuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/Marti/api/maplayers":{"put":{"tags":["map-layers-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"updateMapLayer_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MapLayer"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapLayer"}}}}}},"post":{"tags":["map-layers-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"createMapLayer_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MapLayer"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapLayer"}}}}}}},"/Marti/api/ldap-user-management/users/{uid}":{"get":{"tags":["ldap-user-account-management-api"],"summary":"[🔒 ROLE_ADMIN, ROLE_LDAP_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN, ROLE_LDAP_ADMIN`","operationId":"getUser","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TakLdapUserResponse"}}}}}},"put":{"tags":["ldap-user-account-management-api"],"summary":"[🔒 ROLE_ADMIN, ROLE_LDAP_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN, ROLE_LDAP_ADMIN`","operationId":"updateUser","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TakLdapUser"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["ldap-user-account-management-api"],"summary":"[🔒 ROLE_ADMIN, ROLE_LDAP_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN, ROLE_LDAP_ADMIN`","operationId":"deleteUser","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/Marti/api/inputs/{id}":{"put":{"tags":["submission-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"modifyInput","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Input"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseConnectionModifyResult"}}}}}}},"/Marti/api/inputs/storeForwardChat/enable":{"put":{"tags":["submission-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"enableStoreForwardChat","responses":{"200":{"description":"OK"}}}},"/Marti/api/inputs/storeForwardChat/disable":{"put":{"tags":["submission-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"disableStoreForwardChat","responses":{"200":{"description":"OK"}}}},"/Marti/api/inputs/config":{"get":{"tags":["submission-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"getConfigInfo","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMessagingConfigInfo"}}}}}},"put":{"tags":["submission-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"modifyConfigInfo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessagingConfigInfo"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/Marti/api/groups/activebits":{"put":{"tags":["subscription-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"setActiveGroups","parameters":[{"name":"clientUid","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int32"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/Marti/api/groups/active":{"put":{"tags":["subscription-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"setActiveGroups_1","parameters":[{"name":"clientUid","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Group"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/Marti/api/groups/activeForce":{"put":{"tags":["subscription-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"setActiveGroupsForce","parameters":[{"name":"username","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Group"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/Marti/api/files/{hash}/metadata":{"put":{"tags":["file-manager-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"putMetadata","parameters":[{"name":"hash","in":"path","required":true,"schema":{"type":"string"}},{"name":"user","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"expiration","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"keywords","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}}],"responses":{"200":{"description":"OK"}}}},"/Marti/api/federationconfig":{"get":{"tags":["federation-config-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"getFederationConfig","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseFederationConfigInfo"}}}}}},"put":{"tags":["federation-config-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"modifyFederationConfig","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FederationConfigInfo"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/Marti/api/federatemissions/{federateId}":{"put":{"tags":["federation-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"updateFederateMissions","parameters":[{"name":"federateId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FederateMissionPerConnectionSettings"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseFederateMissionPerConnectionSettings"}}}}}}},"/Marti/api/federatedetails":{"put":{"tags":["federation-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"updateFederateDetails","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Federate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseFederate"}}}}}}},"/Marti/api/excheck/template/{templateUid}/task/{taskUid}":{"get":{"tags":["ex-check-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"getTemplateTask","parameters":[{"name":"templateUid","in":"path","required":true,"schema":{"type":"string"}},{"name":"taskUid","in":"path","required":true,"schema":{"type":"string"}},{"name":"clientUid","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}},"put":{"tags":["ex-check-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"addEditTemplateTask","parameters":[{"name":"templateUid","in":"path","required":true,"schema":{"type":"string"}},{"name":"taskUid","in":"path","required":true,"schema":{"type":"string"}},{"name":"clientUid","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}},"delete":{"tags":["ex-check-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"deleteTemplateTask","parameters":[{"name":"templateUid","in":"path","required":true,"schema":{"type":"string"}},{"name":"taskUid","in":"path","required":true,"schema":{"type":"string"}},{"name":"clientUid","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/Marti/api/excheck/checklist/{checklistUid}/task/{taskUid}":{"get":{"tags":["ex-check-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"getChecklistTask","parameters":[{"name":"checklistUid","in":"path","required":true,"schema":{"type":"string"}},{"name":"taskUid","in":"path","required":true,"schema":{"type":"string"}},{"name":"clientUid","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}},"put":{"tags":["ex-check-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"addEditChecklistTask","parameters":[{"name":"checklistUid","in":"path","required":true,"schema":{"type":"string"}},{"name":"taskUid","in":"path","required":true,"schema":{"type":"string"}},{"name":"clientUid","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}},"delete":{"tags":["ex-check-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"deleteChecklistTask","parameters":[{"name":"checklistUid","in":"path","required":true,"schema":{"type":"string"}},{"name":"taskUid","in":"path","required":true,"schema":{"type":"string"}},{"name":"clientUid","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/Marti/api/excheck/checklist/{checklistUid}/mission/{missionName}":{"put":{"tags":["ex-check-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"addMissionReferenceToChecklist","parameters":[{"name":"checklistUid","in":"path","required":true,"schema":{"type":"string"}},{"name":"missionName","in":"path","required":true,"schema":{"type":"string"}},{"name":"clientUid","in":"query","required":true,"schema":{"type":"string"}},{"name":"password","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}},"delete":{"tags":["ex-check-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"removeMissionReferenceFromChecklist","parameters":[{"name":"checklistUid","in":"path","required":true,"schema":{"type":"string"}},{"name":"missionName","in":"path","required":true,"schema":{"type":"string"}},{"name":"clientUid","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/Marti/api/device/profile/{name}":{"get":{"tags":["profile-admin-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"getProfile","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseProfile"}}}}}},"put":{"tags":["profile-admin-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"updateProfile","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Profile"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}},"post":{"tags":["profile-admin-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"createProfile","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"group","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/Marti/api/device/profile/{name}/file":{"put":{"tags":["profile-admin-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"addFile","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"filename","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"byte"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseProfileFile"}}}}}}},"/Marti/api/device/profile/{name}/directories/{directories}":{"put":{"tags":["profile-admin-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"updateDirectories","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"directories","in":"path","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/Marti/api/datafeeds/{name}":{"get":{"tags":["submission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"getDataFeed","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDataFeed"}}}}}},"put":{"tags":["submission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"modifyDataFeed","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataFeed"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDataFeed"}}}}}},"delete":{"tags":["submission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"deleteDataFeed","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDataFeed"}}}}}}},"/Marti/api/datafeeds/predicate":{"put":{"tags":["data-feed-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"updatePredicateDataFeed","parameters":[{"name":"updateGroups","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PredicateDataFeed"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePredicateDataFeed"}}}}}},"post":{"tags":["data-feed-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"createPredicateDataFeed","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PredicateDataFeed"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePredicateDataFeed"}}}}}}},"/Marti/api/citrap/{id}":{"get":{"tags":["ci-trap-report-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"getReport","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"clientUid","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}},"put":{"tags":["ci-trap-report-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"putReport","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"clientUid","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"byte"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}},"delete":{"tags":["ci-trap-report-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"deleteReport","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"clientUid","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/Marti/api/authentication/config":{"get":{"tags":["security-authentication-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"getAuthConfig","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAuthenticationConfigInfo"}}}}}},"put":{"tags":["security-authentication-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"modifyAuthConfig","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthenticationConfigInfo"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}},"post":{"tags":["security-authentication-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"testAuthConfig","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/vbm/api/config":{"get":{"tags":["vbm-configuration-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"getVBMConfiguration","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VBMConfigurationModel"}}}}}},"post":{"tags":["vbm-configuration-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"setVBMConfiguration","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VBMConfigurationModel"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/register/user":{"post":{"tags":["registration-api"],"summary":"[🔒 #{@UserManagementAuthorizationProvider.role}] ","description":"<br/>**🔒 Required Role:** `#{@UserManagementAuthorizationProvider.role}`","operationId":"signUp","parameters":[{"name":"emailAddress","in":"query","required":true,"schema":{"type":"string","pattern":""}},{"name":"token","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/register/admin/invite":{"post":{"tags":["registration-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"invite","parameters":[{"name":"emailAddress","in":"query","required":true,"schema":{"type":"string","pattern":""}},{"name":"group","in":"query","required":false,"schema":{"type":"array","default":["__ANON__"],"items":{"type":"string"}}}],"responses":{"200":{"description":"OK"}}}},"/locate/api":{"post":{"tags":["locate-api"],"summary":"[🔒 #{@LocateAuthorizationProvider.role}] ","description":"<br/>**🔒 Required Role:** `#{@LocateAuthorizationProvider.role}`","operationId":"locate","parameters":[{"name":"latitude","in":"query","required":true,"schema":{"type":"number","format":"double"}},{"name":"longitude","in":"query","required":true,"schema":{"type":"number","format":"double"}},{"name":"name","in":"query","required":true,"schema":{"type":"string"}},{"name":"remarks","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/files/api/config":{"get":{"tags":["file-configuration-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"getFileConfiguration","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FileConfigurationModel"}}}}}},"post":{"tags":["file-configuration-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"setFileConfiguration","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileConfigurationModel"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/Marti/api/video":{"get":{"tags":["video-connection-manager-v-2"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"getVideoCollections","parameters":[{"name":"protocol","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VideoCollections"}}}}}},"post":{"tags":["video-connection-manager-v-2"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"createVideoConnection","parameters":[{"name":"group","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VideoCollections"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/Marti/api/user-management/api/new-users":{"post":{"tags":["file-user-account-management-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"createFileUsersInBulk","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserGenerationInBulkModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserPasswordModel"}}}}}}}},"/Marti/api/user-management/api/new-user":{"post":{"tags":["file-user-account-management-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"createOrUpdateFileUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewUserModel"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/Marti/api/tls/signClient":{"post":{"tags":["cert-manager-api"],"summary":"[🔒 ROLE_NO_CLIENT_CERT] ","description":"<br/>**🔒 Required Role:** `ROLE_NO_CLIENT_CERT`","operationId":"signClientCert","parameters":[{"name":"clientUid","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"version","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/Marti/api/tls/signClient/v2":{"post":{"tags":["cert-manager-api"],"summary":"[🔒 ROLE_NO_CLIENT_CERT] ","description":"<br/>**🔒 Required Role:** `ROLE_NO_CLIENT_CERT`","operationId":"signClientCertV2","parameters":[{"name":"clientUid","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"version","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/Marti/api/subscriptions/incognito/{uid}":{"post":{"tags":["subscription-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"toggleIncognito","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/Marti/api/subscriptions/add":{"post":{"tags":["subscription-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"addSubscription","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tmpStaticSub"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSubscriptionInfo"}}}}}}},"/Marti/api/signal/identity":{"get":{"tags":["signal-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"getNextAvailablePreKeyBundle","parameters":[{"name":"clientUid","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PreKeyBundle"}}}}}},"post":{"tags":["signal-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"postPreKeyBundle","parameters":[{"name":"clientUid","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreKeyBundle"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/Marti/api/retention/restoremission":{"post":{"tags":["retention-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"restoreMissionFromArchive","requestBody":{"content":{"application/json":{"schema":{"type":"integer","format":"int32"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/Marti/api/repeater/period":{"get":{"tags":["repeater-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"getPeriod","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseInteger"}}}}}},"post":{"tags":["repeater-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"setPeriod","requestBody":{"content":{"application/json":{"schema":{"type":"integer","format":"int32"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/Marti/api/plugins/info/started":{"post":{"tags":["plugin-manager-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"changePluginStartedStatus","parameters":[{"name":"name","in":"query","required":true,"schema":{"type":"string"}},{"name":"status","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBoolean"}}}}}}},"/Marti/api/plugins/info/enabled":{"post":{"tags":["plugin-manager-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"changePluginEnabledSetting","parameters":[{"name":"name","in":"query","required":true,"schema":{"type":"string"}},{"name":"status","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBoolean"}}}}}}},"/Marti/api/plugins/info/archive":{"post":{"tags":["plugin-manager-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"changePluginArchiveSetting","parameters":[{"name":"name","in":"query","required":true,"schema":{"type":"string"}},{"name":"archiveEnabled","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBoolean"}}}}}}},"/Marti/api/plugins/info/all/started":{"post":{"tags":["plugin-manager-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"changeAllPluginStartedStatus","parameters":[{"name":"status","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBoolean"}}}}}}},"/Marti/api/outgoingconnectionstatus/{name}":{"get":{"tags":["federation-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"getConnectionStatus","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseConnectionStatus"}}}}}},"post":{"tags":["federation-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"changeConnectionStatus","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"newStatus","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBoolean"}}}}}}},"/Marti/api/missions/{name}/externaldata":{"post":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"setExternalMissionData","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalMissionData"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseExternalMissionData"}}}}}}},"/Marti/api/missions/{name}/externaldata/{id}/change":{"post":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"notifyExternalDataChanged","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":true,"schema":{"type":"string"}},{"name":"notes","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/Marti/api/missions/{name}/send":{"post":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"sendMissionArchive","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSetMission"}}}}}}},"/Marti/api/missions/{name}/invite":{"post":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"sendMissionInvites","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/Marti/api/missions/{missionName}/feed":{"post":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"addFeed","parameters":[{"name":"missionName","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":true,"schema":{"type":"string"}},{"name":"dataFeedUid","in":"query","required":true,"schema":{"type":"string"}},{"name":"filterPolygon","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"filterCotTypes","in":"query","required":false,"schema":{"type":"string"}},{"name":"filterCallsign","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/Marti/api/missions/{missionGuid}/feed":{"post":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"addFeedByGuid","parameters":[{"name":"missionGuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":true,"schema":{"type":"string"}},{"name":"dataFeedUid","in":"query","required":true,"schema":{"type":"string"}},{"name":"filterPolygon","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"filterCotTypes","in":"query","required":false,"schema":{"type":"string"}},{"name":"filterCallsign","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/Marti/api/missions/guid/{missionGuid}/invite":{"post":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"sendMissionInvitesByGuid","parameters":[{"name":"missionGuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/Marti/api/missions/guid/{guid}/externaldata":{"post":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"setExternalMissionDataByGuid","parameters":[{"name":"guid","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalMissionData"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseExternalMissionData"}}}}}}},"/Marti/api/missions/guid/{guid}/externaldata/{id}/change":{"post":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"notifyExternalDataChangedByGuid","parameters":[{"name":"guid","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"creatorUid","in":"query","required":true,"schema":{"type":"string"}},{"name":"notes","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/Marti/api/missions/guid/{guid}/send":{"post":{"tags":["mission-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"sendMissionArchiveByGuid","parameters":[{"name":"guid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSetMission"}}}}}}},"/Marti/api/ldap-user-management/users":{"get":{"tags":["ldap-user-account-management-api"],"summary":"[🔒 ROLE_ADMIN, ROLE_LDAP_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN, ROLE_LDAP_ADMIN`","operationId":"getAllUsers","parameters":[{"name":"uid","in":"query","required":false,"schema":{"type":"string"}},{"name":"email","in":"query","required":false,"schema":{"type":"string"}},{"name":"givenName","in":"query","required":false,"schema":{"type":"string"}},{"name":"surname","in":"query","required":false,"schema":{"type":"string"}},{"name":"callsign","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TakLdapUserResponse"}}}}}}},"post":{"tags":["ldap-user-account-management-api"],"summary":"[🔒 ROLE_ADMIN, ROLE_LDAP_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN, ROLE_LDAP_ADMIN`","operationId":"createUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TakLdapUser"}}},"required":true},"responses":{"201":{"description":"Created"}}}},"/Marti/api/ldap-user-management/users/{uid}/lock":{"post":{"tags":["ldap-user-account-management-api"],"summary":"[🔒 ROLE_ADMIN, ROLE_LDAP_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN, ROLE_LDAP_ADMIN`","operationId":"lockUserAccount","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}},{"name":"lock","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"204":{"description":"No Content"}}}},"/Marti/api/ldap-user-management/users/{uid}/groups/sync":{"post":{"tags":["ldap-user-account-management-api"],"summary":"[🔒 ROLE_ADMIN, ROLE_LDAP_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN, ROLE_LDAP_ADMIN`","operationId":"syncUserGroups","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/Marti/api/ldap-user-management/users/{uid}/groups/remove":{"post":{"tags":["ldap-user-account-management-api"],"summary":"[🔒 ROLE_ADMIN, ROLE_LDAP_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN, ROLE_LDAP_ADMIN`","operationId":"removeUserFromGroups","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/Marti/api/ldap-user-management/users/{uid}/groups/add":{"post":{"tags":["ldap-user-account-management-api"],"summary":"[🔒 ROLE_ADMIN, ROLE_LDAP_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN, ROLE_LDAP_ADMIN`","operationId":"addUserToGroups","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/Marti/api/ldap-user-management/users/validateBulkImport":{"post":{"tags":["ldap-user-account-management-api"],"summary":"[🔒 ROLE_ADMIN, ROLE_LDAP_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN, ROLE_LDAP_ADMIN`","operationId":"validateBulkImport","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/Marti/api/ldap-user-management/users/bulkImport":{"post":{"tags":["ldap-user-account-management-api"],"summary":"[🔒 ROLE_ADMIN, ROLE_LDAP_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN, ROLE_LDAP_ADMIN`","operationId":"bulkImport","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"201":{"description":"Created"}}}},"/Marti/api/ldap-user-management/groups/{groupName}/users/remove":{"post":{"tags":["ldap-user-account-management-api"],"summary":"[🔒 ROLE_ADMIN, ROLE_LDAP_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN, ROLE_LDAP_ADMIN`","operationId":"removeUsersFromGroup","parameters":[{"name":"groupName","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/Marti/api/ldap-user-management/groups/{groupName}/users/add":{"post":{"tags":["ldap-user-account-management-api"],"summary":"[🔒 ROLE_ADMIN, ROLE_LDAP_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN, ROLE_LDAP_ADMIN`","operationId":"addUsersToGroup","parameters":[{"name":"groupName","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/Marti/api/inputs":{"get":{"tags":["submission-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"getInputMetrics","parameters":[{"name":"excludeDataFeeds","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSortedSetInputMetric"}}}}}},"post":{"tags":["submission-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"createInput","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Input"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseInput"}}}}}}},"/Marti/api/injectors/cot/uid":{"get":{"tags":["injection-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"getAllCotInjectors","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSetInjectorConfig"}}}}}},"post":{"tags":["injection-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"putCotInjector","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InjectorConfig"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSetInjectorConfig"}}}}}},"delete":{"tags":["injection-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"deleteInjector","parameters":[{"name":"uid","in":"query","required":true,"schema":{"type":"string"}},{"name":"toInject","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSetInjectorConfig"}}}}}}},"/Marti/api/iconset":{"post":{"tags":["iconset-icon-api"],"summary":"[🔒 ROLE_ANONYMOUS] ","description":"<br/>**🔒 Required Role:** `ROLE_ANONYMOUS`","operationId":"postIconsetZip","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/Marti/api/groups/update":{"post":{"tags":["subscription-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"bulkGroupsUpdated","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/Marti/api/generateFederationJwtToken":{"post":{"tags":["federation-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"generateFederationJwtToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JwtTokenRequestModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseJwtTokenResponseModel"}}}}}}},"/Marti/api/generateAndSaveFederationJwtToken":{"post":{"tags":["federation-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"generateAndSaveJwtToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JwtTokenRequestModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseJwtTokenResponseModel"}}}}}}},"/Marti/api/federategroupsmap/{federateId}":{"get":{"tags":["federation-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"getFederateGroupsMap","parameters":[{"name":"federateId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringString"}}}}}},"post":{"tags":["federation-api"],"summary":"[🔒 ROLE_ADMIN] ","description":"<br/>**🔒 Required Role:** `ROLE_ADMIN`","operationId":"addFederateGroupMap","parameters":[{"name":"federateId","in":"path","required":true,"schema":{"type":"string"}},{"name":"remoteGroup","in":"query","required":true,"
[...]
